
a:link {
    text-decoration: none;
    color:black;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding: 0 20px 0 0;
}

.topbar {
    padding: 20px 0 0 20px;
}
.rtop {
    float: right;
    padding: 0 20px 0 0;
}

.botbar {
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0 20px 0px;
    border-top-style: solid;
    border-width: 1px;
    border-color: LightGray;
}

.rbot {
    float: right;
    padding: 0 20px 0 0;
}

img {
    display: block;
    margin-top: 200px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    /* could also write as
     margin: 200px auto 0; */
}

.text {
    text-align: center;
    margin: 35px;
}

.text input {
    padding: 12px 10px;
    width: 500px;
}

.ibcenter {
    text-align: center;
}

.ibcenter div {
    display: inline-block;
    text-align: left;
    padding: 0 0 15px 15px;
}

.ibcenter div input {
    padding: 5px 10px;
    font-size: 14px;
}