body {
    font-family: arial,sans-serif;
    font-size: 13px;
}

a {
    text-decoration: none;
    color: #000;
    opacity: 0.75
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding: 0 15px 0 0;
}

.topbar {
    padding: 15px 0 0 15px;
}
.rtop {
    float: right;
    padding: 0 20px 0 0;
}
.signin {
    float: right;
    padding: 7.5px 13px;
    margin: -7.5px 20px 0 0;
    color: #fff;
    background-color: #125dd6;
    font-weight: bold;
    text-align: center;
    border-style: solid;
    border-width: 0px;
    border-radius: 3px;
}

.botbar {
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 12px 20px 13px 22px;
    border-top-style: solid;
    border-width: 1px;
    border-color: LightGray;
}

.rbot {
    float: right;
    padding: 0 27px 0 0;
}

.rbot2 {
    float: right;
    padding: 0 59px 0 0;
}

img {
    display: block;
    margin-top: 160px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    /* could also write as
     margin: 200px auto 0; */
}

.text {
    text-align: center;
    margin: 26px 0 30px 0;
}

.text input {
    padding: 10px 10px;
    width: 460px;
    height: 24px;
    border-style: solid;
    border-width: 1px;
    border-color: LightGray;
    border-radius: 25px;
}

.text input:hover{
    box-shadow: 2px 2px 2px grey;
    opacity: 0.75
}

.ibcenter {
    text-align: center;
}

.ibcenter div {
    display: inline-block;
    text-align: left;
    padding: 0 0 15px 15px;
}

.ibcenter input {
    padding: 10px 17px;
    font-size: 14px;
    color:#5F6368;
    background-color: #f2f2f2;
    border-width: 0px;
}